{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    "inline-react-svg"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-dynamic-import"
      ]
    }
  }
}