/* Add Equals Font */
@font-face {
  font-family: 'Equals';
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.equals.co/fonts/equals/equals-light.woff2') format('woff2'),
    url('https://cdn.equals.co/fonts/equals/equals-light.woff') format('woff');
}

@font-face {
  font-family: 'Equals';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.equals.co/fonts/equals/equals-regular.woff2') format('woff2'),
    url('https://cdn.equals.co/fonts/equals/equals-regular.woff') format('woff');
}

@font-face {
  font-family: 'Equals';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.equals.co/fonts/equals/equals-semibold.woff2') format('woff2'),
    url('https://cdn.equals.co/fonts/equals/equals-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Equals';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.equals.co/fonts/equals/equals-bold.woff2') format('woff2'),
    url('https://cdn.equals.co/fonts/equals/equals-bold.woff') format('woff');
}
